// Utility Classes

.container {
  max-width: min(85vw, 700px);
  margin-inline: auto;
  text-align: center;
  display: grid;
  gap: 1rem;
}

.btn {
  color: var(--clr-white);
  padding: 1rem 2rem;
  border-radius: 30px;
  letter-spacing: 0.1rem;
  font-weight: var(--fw-bold);
  transition: 0.3s ease;
}

.cyan-btn {
  background-color: var(--clr-cyan);
  border-bottom: 5px solid var(--clr-cyan-btn-border);
  box-shadow: 0 3px 20px var(--clr-cyan-btn-shadow);

  &:hover {
    background-color: var(--clr-cyan-btn-hover);
  }
}

.blue-btn {
  background-color: var(--clr-blue);
  border-bottom: 5px solid var(--clr-blue-btn-border);
  box-shadow: 0 3px 20px var(--clr-blue-btn-shadow);

  &:hover {
    background-color: var(--clr-blue-btn-hover);
  }
}
